{#
/**
 * Copyright © 2003-2025 The Galette Team
 *
 * This file is part of Galette (https://galette.eu).
 *
 * Galette is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Galette is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Galette. If not, see <http://www.gnu.org/licenses/>.
 */
#}
{% extends not login.isLogged() ? "public_page.html.twig" : "page.html.twig" %}

{% block content %}
    <form action="" method="post" id="payment-form" class="ui form">
        <div class="ui segment">
            <div class="ui inverted secondary big segment">
                <div class="ui large center aligned header">
                    {{ amount / 100.0 }} {{ stripe.getCurrency() }}
                    <div class="sub header">{{ item_name }}</div>
                </div>
            </div>
            <div id="billing-details" class="ui two column stackable grid basic fitted segment">
                <div class="column">
                    <h2 class="ui horizontal left aligned divider tiny header">
                        <i class="address card outline icon"></i>
                        {{ _T("Billing details", "stripe") }}
                    </h2>
                    {% if metadata %}
                        <strong>{{ metadata.billing_name }}</strong><br>
                        {% if metadata.billing_company != '' %}
                            {{ metadata.billing_company }}<br>
                        {% endif %}
                        {% if metadata.billing_address != '' %}
                            {{ metadata.billing_address }}<br>
                        {% endif %}
                        {% if metadata.billing_zip != '' %}
                            {{ metadata.billing_zip }}
                        {% endif %}
                        {% if metadata.billing_town != '' %}
                            {{ metadata.billing_town }}<br>
                        {% endif %}
                        {% if metadata.billing_country != '' %}
                            {{ metadata.billing_country }}
                        {% endif %}
                        {{ metadata.billing_email }}
                    {% endif %}
                </div>
                <div class="column">
                    <h2 class="ui horizontal left aligned divider tiny header">
                        <i class="credit card outline icon"></i>
                        {{ _T("Payment details", "stripe") }}
                    </h2>
                    <div id="error"></div>
                    <div class="field">
                        <label for="stripe-card-number" data-tid="elements.form.card_number_label">{{ _T("Card number", "stripe") }}</label>
                        <div id="stripe-card-number" class="input empty"></div>
                    </div>
                    <div class="field">
                        <label for="stripe-card-expiry" data-tid="elements.form.card_expiry_label">{{ _T("Expiration", "stripe") }}</label>
                        <div id="stripe-card-expiry" class="input empty"></div>
                    </div>
                    <div class="field">
                        <label for="stripe-card-cvc" data-tid="elements.form.card_cvc_label">{{ _T("CVC", "stripe") }}</label>
                        <div id="stripe-card-cvc" class="input empty"></div>
                    </div>
                    <div class="field">
                        <button type="submit" data-tid="elements.form.pay_button" class="ui primary fluid large button action">
                            {{ _T("Pay", "stripe") }}
                        </button>
                        <div class="stripe-loader" style="display:none;">Loading...</div>
                    </div>
                </div>
            </div>
            <div id="success"></div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {% if stripe.isLoaded() and stripe.getPubKey() != null and stripe.getPrivKey() != null and stripe.areAmountsLoaded() %}
        <script src="https://js.stripe.com/v3/"></script>
        <script type="text/javascript">
            $(function() {
                var stripe = Stripe('{{ stripe.getPubKey() }}', {});

                var elementStyles = {
                    base: {
                        color: '#32325D',
                        fontWeight: 500,
                        fontFamily: 'Source Code Pro, Consolas, Menlo, monospace',
                        fontSize: '16px',
                        fontSmoothing: 'antialiased',

                        '::placeholder': {
                            color: '#CFD7DF',
                        },
                        ':-webkit-autofill': {
                            color: '#e39f48',
                        },
                    },
                    invalid: {
                        color: '#E25950',

                        '::placeholder': {
                            color: '#FFCCA5',
                        },
                    },
                };

                var elementClasses = {
                    focus: 'focused',
                    empty: 'empty',
                    invalid: 'invalid',
                };

                // Create button from Stripe Elements
                var elements = stripe.elements();

                var cardNumber = elements.create('cardNumber', {
                    style: elementStyles,
                    classes: elementClasses,
                });
                cardNumber.mount('#stripe-card-number');

                var cardExpiry = elements.create('cardExpiry', {
                    style: elementStyles,
                    classes: elementClasses,
                });
                cardExpiry.mount('#stripe-card-expiry');

                var cardCvc = elements.create('cardCvc', {
                    style: elementStyles,
                    classes: elementClasses,
                });
                cardCvc.mount('#stripe-card-cvc');

                var form = document.getElementById('payment-form');

                // Create payment request
                var paymentRequest = stripe.paymentRequest({
                    country: '{{ stripe.getCountry() }}',
                    currency: '{{ stripe.getCurrency() }}',
                    total: {
                        label: '{{ item_name }}',
                        amount: {{ amount }},
                    },
                    requestPayerName: true,
                    requestPayerEmail: true,
                });

                form.addEventListener('submit', function(ev) {
                    ev.preventDefault();
                    jQuery(this).find('button[type="submit"]').prop('disabled', true).addClass('loading');
                    stripe.confirmCardPayment('{{ client_secret }}', {
                        payment_method: {
                            card: cardNumber,
                            billing_details: {
                                name: '{{ metadata.billing_name }}',
                                email: '{{ metadata.billing_email }}'
                            }
                        }
                    }).then(function(result) {
                        if (result.error !== undefined && result.error !== null && result.error !== '') {
                            jQuery('#error').html('<div class="ui icon visible negative center aligned message"><div class="content"></div></div>');
                            jQuery('#error .content').text(result.error.message);
                            jQuery(form).find('button[type="submit"]').prop('disabled', false).removeClass('loading');
                        } else {
                            // The payment has been processed!
                            if (result.paymentIntent.status === 'succeeded') {
                                jQuery('#success').html('<div class="ui icon visible positive center aligned message"><div class="header"></div></div>');
                                jQuery('#success .header').text('{{ _T("Payment successful", "stripe") }}');
                                jQuery(form).find('#billing-details').remove();
                            }
                        }
                    });
                });

            });
        </script>
    {% endif %}
{% endblock %}
