{#
/**
 * Copyright © 2003-2025 The Galette Team
 *
 * This file is part of Galette Stripe plugin (https://galette-community.github.io/plugin-stripe).
 *
 * Galette is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Galette is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Galette. If not, see <http://www.gnu.org/licenses/>.
 */
#}
{% extends 'elements/list.html.twig' %}

{% set filters = stripe_history.filters %}

{% set form = {
    'order': {
        'name': "stripe_history"
    }
} %}

{% block infoline %}
    {% set infoline = {
        'label': _Tn("%1$s entry", "%1$s entries", nb)|format(nb),
        'route': {
            'name': 'filter_stripe_history'
        }
    } %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {% set no_action = true %}
    {% set columns = [
        {
            'label': '#',
            'collapse': true
        },
        {
            'label': _T("Date"), 'order': constant("Galette\\Filters\\HistoryList::ORDERBY_DATE"),
            'collapse': true
        },
        {
            'label': _T("Name"),
            'collapse': true
        },
        {
            'label': _T("Subject"),
            'collapse': true
        },
        {
            'label': _T("Amount"),
            'collapse': true
        },
        {'label': _T("Request", "stripe")}
    ] %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% for log in logs %}
        {% set payment_intent = log.intent_id|split(' ') %}
        {% set payment_intent_color = payment_intent[0] == 'payment_intent.succeeded' ? 'green' : 'blue' %}

        <tr>
            <td class="center collapsing" data-scope="row">
                {{ loop.index }}
                <span class="visually-hidden">
                    {{ _T("History entry %id")|replace({'%id': loop.index}) }}
                </span>
            </td>
            <td class="left collapsing" data-col-label="{{ _T("Date") }}">
                {{ log.history_date|date(_T("Y-m-d H:i:s")) }}
                {% if log.duplicate is defined %}
                    <i class="exclamation circle red icon tooltip" data-html="{{ _T("Duplicate", "stripe") }}"></i>
                    <span class="visually-hidden">
                        {{ _T("Duplicate", "stripe") }}
                    </span>
                {% endif %}
            </td>
            <td class="left collapsing" data-col-label="{{ _T("Name") }}">
        {% if log.metadata is iterable %}
            {% if log.metadata.adherent_id is defined and log.metadata.adherent_id != '' %}
                <a href="{{ url_for("member", {"id": log.metadata.adherent_id}) }}">
            {% endif %}
            {% if log.metadata.billing_name is defined %}
                {{ log.metadata.billing_name }}
            {% endif %}
            {% if log.metadata.adherent_id is defined and log.metadata.adherent_id != '' %}
                </a>
            {% endif %}
        {% else %}
                {{ _T("No request or unable to read request.", "stripe") }}
        {% endif %}
            </td>
            <td class="left collapsing" data-col-label="{{ _T("Subject") }}">
        {% if log.metadata is iterable %}
            {% if log.metadata.item_name is defined %}
                <span class="ui {{ payment_intent_color }} small label">{{ payment_intent[0] }}</span>
                | {{ log.metadata.item_name }}
            {% endif %}
        {% endif %}
            </td>
            <td class="right collapsing" data-col-label="{{ _T("Amount") }}">
                {{ log.amount }}
            </td>
            <td class="left" data-col-label="{{ _T("Request", "stripe") }}">
                <details class="ui basic styled accordion">
                    <summary class="title">
                        <i class="caret down icon" aria-hidden="true"></i> {{ _T("Show/hide full request", "stripe") }}
                    </summary>
                    <div class="content">
                        <code>{{ payment_intent[1] }}</code>
                        <pre>{{ log.raw_request }}</pre>
                    </div>
                </details>
            </td>
        </tr>
    {% else %}
        <tr><td colspan="6" class="emptylist">{{ _T("logs are empty") }}</td></tr>
    {% endfor %}
{% endblock %}

{% block javascripts %}
        <script type="text/javascript">
            $('#nbshow').change(function() {
                this.form.submit();
            });
        </script>
{% endblock %}
