{% extends not login.isLogged() ? "public_page.html.twig" : "page.html.twig" %}

{% block content %}
    {% if not stripe.isLoaded() %}
        <div class="ui error icon visible message">
            <i class="exclamation circle icon" aria-hidden="true"></i>
            <div class="content">
                <div class="header">
                    {{ _T("Payment could not work", "stripe") }}
                </div>
                <p>
                    {{ _T("An error occured (that has been logged) while loading Stripe preferences from database." , "stripe") }}<br/>
                    {{ _T("Please report the issue to the staff." , "stripe") }}<br/>
                    {{ _T("Our apologies for the annoyance :(", "stripe") }}
                </p>
            </div>
        </div>
    {% endif %}
    {% if stripe.getPubKey() is null or stripe.getPrivKey() is null %}
        <div class="ui error icon visible message">
            <i class="exclamation circle icon" aria-hidden="true"></i>
            <div class="content">
                <div class="header">
                    {{ _T("Stripe keys have not been defined", "stripe") }}
                </div>
                <p>{{ _T("Please ask an administrator to define them in the plugin's preferences." , "stripe") }}</p>
            </div>
        </div>
    {% endif %}
    {% if not stripe.areAmountsLoaded() %}
        <div class="ui warning icon visible message">
            <i class="exclamation triangle icon" aria-hidden="true"></i>
            <div class="content">
                <div class="header">
                    {{ _T("Predefined amounts cannot be loaded", "stripe") }}
                </div>
                <p>{{ _T("That is not a critical error.", "stripe") }}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}
