{#
/**
 * Copyright © 2003-2025 The Galette Team
 *
 * This file is part of Galette Stripe plugin (https://galette-community.github.io/plugin-stripe).
 *
 * Galette is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Galette is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Galette. If not, see <http://www.gnu.org/licenses/>.
 */
#}
{% extends not login.isLogged() ? "public_page.html.twig" : "page.html.twig" %}

{% block content %}
    {% if stripe.isLoaded() and stripe.getPubKey() != null and stripe.getPrivKey() != null %}
        {% if amounts|length > 0 %}
            <form action="" method="post" id="stripeForm" class="ui form">
                <div class="ui top attached accordion-styled header">
                    {% if amounts|length == 1%}
                        {{ _T("Payment reason", "stripe") }}
                    {% elseif amounts|length > 1 %}
                        {{ _T("Select an payment reason", "stripe") }}
                    {% endif %}
                </div>
                <div class="ui bottom attached accordion-styled segment">
                    <div class="active content field">
                        <div class="field inline">
                            <input type="hidden" name="item_name" id="item_name" value="{% if login.isLogged() %}{{ _T("annual fee") }}{% else %}{{ _T("donation in money") }}{% endif %}"/>
                            <div class="grouped fields">
                                {% for k, amount in amounts %}
                                    {% set charged_amount = stripe.isZeroDecimal(stripe.getCurrency()) ? amount['amount']|round : amount['amount'] %}
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="item_id" id="in{{ k }}" value="{{ k }}"{% if loop.index0 == 0 %} checked="checked"{% endif %}/>
                                            <label for="in{{ k }}"><span id="in{{ k }}_name" data-amount="{{ charged_amount }}">{{ amount['name'] }}</span>
                                                ({{ charged_amount|format_currency(stripe.getCurrency(), {}, galette_lang) }})
                                            </label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        {% set first_amount = stripe.isZeroDecimal(stripe.getCurrency()) ? amounts|first.amount|round : amounts|first.amount %}
                        {% include "components/forms/text.html.twig" with {
                            id: 'amount',
                            value: first_amount,
                            label: _T("Amount"),
                            required: true
                        } %}
                    </div>
                </div>

                <div class="ui basic center aligned fitted segment">
                    <button type="submit" name="valid" class="action ui labeled icon primary button"{% if login.isSuperAdmin() %} disabled{% endif %}>
                        <i class="angle right icon"></i>
                        {{ _T("Proceed to payment", "stripe") }}
                    </button>
                    {% include "components/forms/csrf.html.twig" %}
                </div>
            </form>
        {% else %}
            <div class="ui small message">
                <div class="content">
                    <em>{{ _T("No payment reasons are available.", "stripe") }}</em>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if stripe.isLoaded() and stripe.getPubKey() != null and stripe.getPrivKey() != null and amounts|length > 0 %}
        <script type="text/javascript">
            $(function() {
                $('input[name="item_id"]').change(function(){
                    var _amount = parseFloat($('#' + this.id + '_name').data('amount'));
                    var _name = $('#' + this.id + '_name').text();
                    $('#item_name').val(_name);
                    if ( _amount != '' && !isNaN(_amount) ) {
                        $('#amount').val(_amount);
                    }
                });
                {% if amounts|length > 0 %}
                    $('#stripeForm').submit(function(e) {
                        var _checked = $('input:checked');
                        if (_checked.length == 0 ) {
                            alert("{{ _T("You have to select an option.", "stripe") }}");
                            return false;
                        } else {
                            var _current_amount = parseFloat($('#amount').val());
                            var _amount = parseFloat($('#' + _checked[0].id + '_name').data('amount'));
                            if ( isNaN(_current_amount) ) {
                                alert("{{ _T("Please enter an amount.", "stripe")|e('js') }}");
                                return false;
                            } else if ( !isNaN(_amount) && _current_amount < _amount ) {
                                alert("{{ _T("The amount you've entered is lower than the minimum amount for the selected option. Please choose another option or change the amount.", "stripe")|e('js') }}");
                                return false;
                            }
                        }
                        return true;
                    });
                {% endif %}
            });
        </script>
    {% endif %}
{% endblock %}
